@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-dark-bg text-gray-300 font-sans overflow-x-hidden selection:bg-neon-green selection:text-black;
  }
  
  html {
    scroll-behavior: smooth;
  }
}

.circuit-bg {
  background-image: radial-gradient(rgba(0, 255, 255, 0.1) 1px, transparent 1px),
  radial-gradient(rgba(0, 255, 255, 0.1) 1px, transparent 1px);
  background-size: 50px 50px;
  background-position: 0 0, 25px 25px;
  mask-image: linear-gradient(to bottom, black 40%, transparent 100%);
}
